<!doctype html>
<!-- public/views/home.html -->
<link rel="stylesheet" href="css/home.css">

<a href="#" class="back-to-top">Back to Top</a>
<section class="background_img">
  <div class=" text-center">
    <div class="text_style_main" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:400, repeat: true}">
      Get Your Log Files,
      We Make Machine Data Accessible, Usable and Valuable to Everyone.
    </div>
      <!-- <div class="text_style">
        Try Your Log Files
      </div> -->
      <p class="text_para">{{ tagline }}</p>
      <div class="container1" data-uk-scrollspy="{cls:'uk-animation-scale-down',delay:200, repeat: true}">
        <div class="input_container">
          <a href="/UploadEvents">
          <div class="btn input_field">
              Try Your Log Files
          </div>
          </a>
        </div>
      </div>
  </div>
  <div class="">
    <h2 class="sell-banner header " id="">
      <div class=""  data-uk-scrollspy="{cls:'uk-animation-slide-left',delay:500, repeat: true}">
        Save with flexible plans to suit every budget.
        <a href="#" data-nav="">View plans and pricing</a><!--ls:end[component-1404859282586]-->
      </div>
    </h2>
  </div>
</section>
<div class="container p_heading">
    <div class="row-fluid p_heading_image" data-uk-scrollspy="{cls:'uk-animation-slide-right',delay:0, repeat: true}">
        <h2 class="p_heading1" data-uk-scrollspy="{cls:'uk-animation-scale-up',delay:0, repeat: true}">Log Analyzer discovers the knowledge in Log Data</h2>
        <p class="p_caption" data-uk-scrollspy="{cls:'uk-animation-slide-right',delay:0, repeat: true}">Designation recognizes Deeple for providing effective solutions helping businesses access, manage and analyze log data.</p>
        <p data-uk-scrollspy="{cls:'uk-animation-scale-down',delay:0, repeat: true}">
          <a class="p_caption" href="">
              <!-- Learn more -->
           <i class="icon icon-angle-right"></i>
          </a>
        </p>
   </div>
</div>
<div class=" container row-fluid background_1 ">
    <div class="background_1_image" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:0, repeat: true}">
        <h2 class="h_center" data-uk-scrollspy="{cls:'uk-animation-scale-down', delay:0, repeat: true}">What is Log Management?</h2>
        <div class="center">
          <p data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:100, repeat: true}">Your logs are the key to keeping cloud-based applications running at their best.</p>
            <p data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:0, repeat: true}">Know what they’re telling you before application errors, slow performance, or </p>
              <p data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:100, repeat: true}">their operational issues take a bite out of your revenue.</p>
        </div>
    </div>
</div>
  <div class="homepage-hero-module">
       <div class="video-container">
           <div class="title-container">
             <!-- <div class=""></div> -->
             <div id="polina" data-uk-scrollspy="{cls:'uk-animation-scale-down',delay:0, repeat: true}">
               <h1 data-uk-scrollspy="{cls:'uk-animation-slide-left',delay:0, repeat: true}">Try Your Log files Today</h1>
               <p class="polina-p" data-uk-scrollspy="{cls:'uk-animation-slide-right',delay:0, repeat: true}">Log file Analysis</p>
               <p data-uk-scrollspy="{cls:'uk-animation-slide-left',delay:0, repeat: true}">Your logs are the key to keeping cloud-based applications running at their best. Know what they’re telling you before application errors, slow performance, or ther operational issues take a bite out of your revenue.</p>
               <p data-uk-scrollspy="{cls:'uk-animation-slide-left',delay:0, repeat: true}">All websites, communications, networking and complex IT infrastructures generate massive streams of machine data every second of every day, in an array of unpredictable formats that are difficult to process and analyze by traditional methods or in a timely manner.</p>
               <a href="/UploadEvents">
                 <button data-uk-scrollspy="{cls:'uk-animation-slide-right',delay:0, repeat: true}">Try Today</button>
               </a>
             </div>
           </div>
           <!-- <div class="filter"></div> -->
           <video autoplay loop class="vedio">
               <source src="video/world.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
           </video>
           <div class="poster hidden">
               <img src="img/image-vedio.PNG" alt="">
           </div>
       </div>
  </div>
   <div class="container row-fluid">
     <div class="demo">
         <h1 data-uk-scrollspy="{cls:'uk-animation-scale-down',delay:0, repeat: true}">Today Our Clients Around The World</h1>
         <div data-uk-scrollspy="{cls:'uk-animation-slide-left',delay:0, repeat: true}" class="demo-1" data-percent="65"></div>
         <div data-uk-scrollspy="{cls:'uk-animation-scale-down',delay:0, repeat: true}" class="demo-2" data-percent="55"></div>
         <div data-uk-scrollspy="{cls:'uk-animation-slide-left',delay:0, repeat: true}" class="demo-3" data-percent="85"></div>
         <div data-uk-scrollspy="{cls:'uk-animation-slide-right',delay:0, repeat: true}" class="demo-4" data-percent="75"></div>
         <div data-uk-scrollspy="{cls:'uk-animation-scale-up',delay:0, repeat: true}" class="demo-5" data-percent="65"></div>
         <div data-uk-scrollspy="{cls:'uk-animation-slide-right',delay:0, repeat: true}" class="demo-6" data-percent="65"></div>
     </div>
   </div>
   <div class="second_div">
        <div class="uk-slidenav-position" data-uk-observe data-uk-slideshow="{animation:'scale', autoplayInterval:6000, autoplay:true, kenburns:true, pauseOnHover: false}">
          <ul class="uk-slideshow">
              <li class="">
                <img src="img/4.jpg" alt="">
                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                  <h1 class="p_slider_heading" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:100, repeat: true}">A Data-Driven Roadside Assistance</h1>
                </div>
                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                  <p class="p_slider_caption"  data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:300, repeat: true}">Delivers superior customer service through real-time monitoring and proactive routing of calls.</p>
                </div>
              </li>
              <li class="">
                <img src="img/5.jpg" alt="">
                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                  <h1 class="p_slider_heading" data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:100, repeat: true}">Zillow Gains Real-Time Enterprise-Wide Visibility Into Site Operations</h1>
                </div>
                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                  <p class="p_slider_caption"  data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:300, repeat: true}">Correlates user-generated data with application performance for enhanced website experience.</p>
                </div>
              </li>
              <li class="">
                <img src="img/6.jpg" alt="">
                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                  <h1 class="p_slider_heading" data-uk-scrollspy="{cls:'uk-animation-scale-down', delay:100, repeat: true}">We get yor Log files</h1>
                </div>
                <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle">
                  <p class="p_slider_caption"  data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:300, repeat: true}">Analyzes data, implements targeted marketing and improves customer service.</p>
                </div>
              </li>
          </ul>
          <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
          <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
          <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
              <li data-uk-slideshow-item="0"><a href=""></a></li>
              <li data-uk-slideshow-item="1"><a href=""></a></li>
              <li data-uk-slideshow-item="2"><a href=""></a></li>
          </ul>
      </div>
  </div>
  <div class="container row-fluid" >
      <h2 class="h_center1" data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:200, repeat: true}">  What's Different About Machine Data?</h2>
      <div class="center1">
        <p class="h_center2" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:0, repeat: true}">All websites, communications, networking and complex IT infrastructures generate massive streams of machine data every second of every day, in an array of unpredictable formats that are difficult to process and analyze by traditional methods or in a timely manner.</p>
        <p class="p_bold" data-uk-scrollspy="{cls:'uk-animation-fade', delay:200, repeat: true}">Log Management From Any Source</p>
      </div>
  </div>
  <div class="col-md-12 background_svg_images">
    <div class="col-md-12 row">
      <div data-uk-scrollspy="{cls:'uk-animation-fade', delay:0, repeat: true}" class="col-md-2 border_svg_images">
        <img src="img/01.png" alt="">
        <p data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:0, repeat: true}">We Analyze Your Data</p>
      </div>
      <div data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:0, repeat: true}" class="col-md-2 border_svg_images">
        <img src="img/02.png" alt="">
        <p data-uk-scrollspy="{cls:'uk-animation-scale-down', delay:0, repeat: true}">Do Forcasting</p>
      </div>
      <div data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:0, repeat: true}" class="col-md-2 border_svg_images">
        <img src="img/03.png" alt="">
        <p data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:0, repeat: true}">We Make Machine Data Accessible</p>
      </div>
      <div data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:0, repeat: true}" class="col-md-2 border_svg_images">
        <img src="img/04.png" alt="">
        <p data-uk-scrollspy="{cls:'uk-animation-scale-down', delay:0, repeat: true}">We Make Machine Data Usable</p>
      </div>
      <div data-uk-scrollspy="{cls:'uk-animation-scale-down', delay:0, repeat: true}" class="col-md-2 border_svg_images">
        <img src="img/05.png" alt="">
        <p data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:0, repeat: true}">We Make Machine Data Valuable </p>
      </div>
      <div data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:0, repeat: true}" class="col-md-2 border_svg_images">
        <img src="img/06.png" alt="">
        <p data-uk-scrollspy="{cls:'uk-animation-scale-down', delay:0, repeat: true}">We Help To Improve Your Business</p>
      </div>
    </div>
  </div>
  <div class="plans-and-pricing-ribbon">
    <div class="" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:0, repeat: true}">
      Incredible Log File Analyze.
      <a href="#">Join or Try free today.</a>
    </div>
  </div>
  <footer class="full_footer floating_footer" id="footer">
    <div class="nav-links">
      <div class="nav-block">
        <ul>
          <li class="footer-category-title">Learn more</li>
          <li><a data-nav="nav=footer_plans_and_pricing" href="">Plans and pricing</a></li>
          <li><a data-nav="nav=nav_Corporate_accounts" href="">Corporate accounts</a></li>
          <li><a data-nav="nav=nav_Partners" href="" >Partners</a></li>
          <li><a data-nav="nav=nav_Plugins_and_apps" href="">Plugins and apps</a></li>
          <li><a data-nav="nav=nav_Licenses" href="">License information</a></li>
          <li><a data-nav="nav=nav_Legal_Agreement" href="">Legal / Privacy</a></li>
        </ul>
      </div>
      <div class="nav-block">
        <ul>
          <li class="footer-category-title">Company</li>
          <li><a data-nav="nav_About_us" href="/about-us">About us</a></li>
          <li><a data-nav="foot_Press" href="">Details</a></li>
          <li><a data-nav="nav_Careers" href="" >Careers</a></li>
          <li><a data-nav="nav_Affiliates" href="">Affiliates</a></li>
        </ul>
      </div>
      <div class="nav-block">
        <ul>
          <li class="footer-category-title">Support</li>
          <li><a class="tel" href="/" >0112052300</a></li>
          <li><a class="tel" href="/" >0112608873</a></li>
          <li><a data-nav="nav=nav_Contact_us" href="/customer-support">Contact us</a></li>
          <li><a data-nav="nav=nav_FAQ" href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="nav-block">
        <div class="social-links">
          <!-- <a href="#" class="fa fa-facebook"></a> -->
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>
      </div>
      <div class="footer-copyright">
        <hr>© DEEPL @ 2017.
        <span>All rights reserved.</span>
      </div>
    </div>
  </footer>
